.container {
  border-left: 2px solid #353535;
  border-right: 2px solid #353535;
  border-top: 1px solid #ffff;
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1440px;

  h1 {
    background-color: #353535;
    margin: 0.5em;
    color: #f3f3f3;
    padding: 0.5em;
  }
}

.news {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #f3f3f3;
  border-right: 1px solid #f3f3f3;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  max-width: 1440px;
  margin: 1em;
  padding: 1rem 0;

  &__article {
    //outline: 1px solid red;
    width: 100%;
    outline: 2px solid #000;

    img {
      width: 100%;
      position: relative;
      z-index: -1;
      //filter: grayscale(100%);
    }
  }

  &__press {
    float: left;
    margin-top: -24px;
    margin-left: 10px;
    outline: 2px solid #000;
    background-color: aquamarine;
    padding: 0.4rem;
    width: auto;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .press__Icon {
      z-index: 1;
      width: 20px;
    }

    p {
      font-size: 14px;
      font-weight: bold;
      padding: 0 0.2em;
    }
  }

  &__description {
    // border: 1px solid red;
    padding: 1rem 0.6rem;
    font-size: 14px;

    h2 {
      font-size: 16px;
    }

    p {
      //border: 1px solid springgreen;
      padding-top: 0.4rem;
    }
  }

  &__media {
    outline: 2px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.4rem;

    p {
      border-left: 1px solid #000;
      display: flex;
      align-items: center;
      justify-items: center;
      padding: 0.5rem;
    }
    p:hover {
      background-color: #f2d56f;
      cursor: pointer;
    }
  }
}

.icon {
  font-size: 20px;
  margin: 0 0.2rem;

  vertical-align: baseline;
}
